@model IEnumerable<SignalRChat.Web.Domain.Message>

<h2>SignalR Demo Chat</h2>

<div class="form-horizontal">
    <div class="row p-1">
        <div class="col-1">User</div>
        <div class="col-5"><input type="text" id="username" /></div>
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="message" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList">
                @foreach (var oldMessage in Model)
                {
                    <li>@oldMessage.From: @oldMessage.Content</li>
                }
            </ul>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/js/signalr/dist/browser/signalr.js"></script>
<script src="~/js/chat.js"></script>